*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg,#f8f8f800,rgb(9, 240, 228),rgba(85, 113, 240, 0.11));

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.index{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.skills{
  height: 100vh;
  width: 100%;
  color: black;
  list-style: none;
  padding: 0;
  align-items: center;
  background: linear-gradient(120deg,#3f3d3d00,rgb(54, 151, 146),rgba(85, 113, 240, 0.11));


}
.project{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 110;
  background: linear-gradient(120deg,#f8f8f800,rgb(14, 121, 115),rgba(85, 113, 240, 0.11));
}
.contact{
  width: 100%;
  height: 100;
  background: linear-gradient(120deg,#f8f4f400,rgb(24, 39, 39),rgba(238, 240, 252, 0.11));
}
.contact-h{
  color: greenyellow;
}
 
nav{

  margin: auto;
  padding: 0px 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: flex-end;
  z-index: 1;

  
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 15px 21px;
}
nav ul li a{
  text-decoration: none;
  color:rgb(6, 2, 65);
}
nav ul li a:hover{
  color: rgb(226, 13, 84);
}
.info{
  border: solid ;
  width: 100%;
  height: 100vh;
}
@media screen  and (max-width:360px){
  .info{
    font-size: 1px ;
  }
  span{
    font-size: 9px;
  }
}
.info h1{
  margin-top: 20%;
  font-size: 60px;
  color: rgb(37, 31, 119);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
  color: rgb(226, 13, 84);
  text-shadow: 0px 3px 18px rgb(219, 5, 76);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}
.info p {
  margin: 00px;
  color:blue ;
  line-height: 40px;
  font-size:30px ;
  margin-left:0px ;
  margin-left: 29%;
  margin-top:2% ;

}
.info a {
  background: rgb(248, 70, 70);
  font-size: 18px;
  padding: 10px 18px;
  color:whitesmoke;
  display: inline-block;
  margin: 30px ;
  border-radius: 30px 0px ;
  margin-left: 50%;
}
.pic{
  width: 40%;
  border: solid peru;
}

.about{
  height: 100vh;
  width: 100%;
  background: linear-gradient(120deg,#f8f8f800,rgb(14, 121, 115),rgba(85, 113, 240, 0.11));
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}
.wrapper {
  margin-top: 100px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.cont {
  display:flex;
}

.so{
  display: flex;
  width: 50%;
  height: 10%;
  position: absolute;
  justify-content: center;
  justify-content: space-around;
  margin-left: 25%;
}


.section1{
margin-top:30px ;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;

}
.main{
flex-direction: column;
}
h1{
  text-align: center;
}
.container{
width: 100%;
max-width: 280px;
margin: 0 outo;
padding: 20px;
box-shadow: 0px 0px 80px rgb(14, 13, 13);
border-radius: 10px ;
}
.form{
width: 100%;
margin-top: 0px;
font-size: 20px;
color: chartreuse;
}
.form input, form textarea{
display: flex;
width: 100%;
padding: 5px ;
font-size: 20px ;
border: 2px solid rgb(12, 221, 75);
}

@media screen and (max-width: 200px) {
  .profile-pic{
    height: 650px;
    margin-left: 15px;
    margin-top: 30px;
  }
}


 textarea{
   resize: none;
 }
 button{
   width: 3;
   border: 1px solid  rgb(12, 221, 75) ;
   outline: none ;
   padding:20px ; 
   font-size: 25px;
   border-radius: 6px;
   color:  rgb(12, 221, 75);
   cursor: pointer;

 }
 #status{
   text-align: center;
   padding: 15px ;
   margin: 0 auto;
   border-radius:6px ;
 }
#status.success{
   background-color: green;
   animation: status 5s ease  forwards ;
 }

#status.error{
  background-color: rgba(243, 143, 104, 0.863);
  animation: status 4s ease forwards ;
}

 @keyframes status{
   0%{
     opacity: 1;
     pointer-events: all;
   }
   90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
 }

.containerP {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 490px;
  height: 50vh;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
}

.banner-img {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-img {
  width: 17rem;
  clip-path: circle(110px at center);
  margin-top: 3.5rem;
}
.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 2.9rem;
}
.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--clr-primary);
}
.skills-cont{
  width: 50%;
  margin-top: 100px;
  margin-left: 20%;
}
.skills li {
  margin: 10px 0;
  margin-top: 50px;
}
.bar{
  background: white;
  display: block;
  height: 9px;
  border: 1px solid rgb(6, 2, 65);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 19px rgb(5, 12, 48);
}
.bar span{
 height: 9px; 
 float: left;
 background: indigo;
}
.html{
  width: 90%;
  animation: html 3s;
}
html {
  scroll-behavior: smooth;
}
.css{
  width:65%;
  animation: css 3s;
}
.javascript{
  width: 50% ;
  animation: javascript 3s;
}
.python{
  width: 75%;
  animation: python 3s;
}
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}
@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}
@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}
.animation-area{
  background: linear-gradient( to left,#f8f8f800,rgb(9, 240, 228),rgba(85, 113, 240, 0.11));
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.box{
  position: absolute;
  top: o;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(129, 209, 139, 0);
}
.box li:nth-child(1){
  left: 86%;
  width: 80%;
  height: 80px;
}
.profile{
  width: 60%;
  height: 70%;
  border: solid gray;
  margin-top:190px ;
}
.profile-pic{
  width: 30%;
  height: 500px;
  border: solid brown;
  margin-top:90px ;
  margin-left:0px;
}
.profile-pic1{
  width: 20%;
  height: 50%;
  border: solid brown;
  margin-top:190px ;
  margin-left: 50px;

}
.iconss{

  text-align:center;
  padding: 20px;
  background: linear-gradient(120deg,#e4dbdb00,rgb(5, 7, 7),rgba(15, 21, 48, 0.11));

}

.wrapper{
  margin-top: 50px;
}
.wrapper h1{
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}
.team .team_member{
  background:rgb(183, 245, 224);
  margin: 5px;
  margin-bottom: 80px;
  width: 600px;
  padding: 20px;
  line-height: 50px;
  color:rgb(6, 2, 65);  
  position: relative;
  border-radius: 20px;
}
.team .team_member h3{
  color: rgb(6, 2, 65);
  text-shadow: 0px 3px 18px rgb(6, 2, 65) ;
  font-size: 30px;
  margin-top: 50px;
}
.team .team_member p.role{
  color: blue;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}
.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 3px;
}
.about-pic{
  border-radius: 49%;
}
.abouta{
  color: red;
}



